{% csrf_token %}
<!-- NIM Field -->
<div class="mb-3">
    <label for="id_nim" class="form-label">NIM</label>
    <input type="text" class="form-control {% if form.nim.errors %}is-invalid{% endif %}" id="id_nim" name="nim" value="{{ form.nim.value|default_if_none:'' }}" required>
    <div class="invalid-feedback">
        {% for error in form.nim.errors %}
            {{ error }}
        {% endfor %}
    </div>
</div>

<!-- Name Field -->
<div class="mb-3">
    <label for="id_name" class="form-label">Nama</label>
    <input type="text" class="form-control {% if form.name.errors %}is-invalid{% endif %}" id="id_name" name="name" value="{{ form.name.value|default_if_none:'' }}" required>
    <div class="invalid-feedback">
        {% for error in form.name.errors %}
            {{ error }}
        {% endfor %}
    </div>
</div>

<!-- Email Field -->
<div class="mb-3">
    <label for="id_email" class="form-label">Email</label>
    <input type="email" class="form-control {% if form.email.errors %}is-invalid{% endif %}" id="id_email" name="email" value="{{ form.email.value|default_if_none:'' }}" required>
    <div class="invalid-feedback">
        {% for error in form.email.errors %}
            {{ error }}
        {% endfor %}
    </div>
</div>

<!-- Phone Number Field -->
<div class="mb-3">
    <label for="id_phone_number" class="form-label">No HP</label>
    <input type="text" class="form-control {% if form.phone_number.errors %}is-invalid{% endif %}" id="id_phone_number" name="phone_number" value="{{ form.phone_number.value|default_if_none:'' }}" required>
    <div class="invalid-feedback">
        {% for error in form.phone_number.errors %}
            {{ error }}
        {% endfor %}
    </div>
</div>

<!-- Year Field -->
<div class="mb-3">
    <label for="id_year" class="form-label">Tahun Angkatan</label>
    <input type="number" class="form-control {% if form.year.errors %}is-invalid{% endif %}" id="id_year" name="year" value="{{ form.year.value|default_if_none:'' }}" required>
    <div class="invalid-feedback">
        {% for error in form.year.errors %}
            {{ error }}
        {% endfor %}
    </div>
</div>

<!-- Teacher Field -->
<div class="mb-3">
    <label for="id_teacher" class="form-label">Dosen Pembimbing</label>
    <select class="form-select {% if form.teacher.errors %}is-invalid{% endif %}" id="id_teacher" name="teacher" required>
        <option value="">Pilih Dosen Pembimbing</option>  <!-- Default option for user to select -->
        {% for teacher in form.teacher.field.queryset %}
        <option value="{{ teacher.id }}" {% if teacher.id == form.teacher.value %}selected{% endif %}>
            {{ teacher.name }} - {{ teacher.nip }}
        </option>
        {% endfor %}
    </select>
    <div class="invalid-feedback">
        {% for error in form.teacher.errors %}
            {{ error }}
        {% endfor %}
    </div>
</div>

<!-- Submit Button -->
<button type="submit" class="btn btn-primary">Simpan</button>
